<h1>make a new list</h1>
<form class="list" id="list" action="/lists/new" method="post">

  <input type="text" name="list[title]" placeholder="title your list">

  <textarea name="list[items]" placeholder="what's on your list?"></textarea>

  <input type="text" name="tag[tag_name]" placeholder="tag">
  <input type="submit" value="post this">

</form>

